ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

li {
    float: left;
  }

span {
    float: left;
    padding: 5px;
}

#leftcol {
  float: left;
}

.product_img {
  max-width: 300px;
  max-height: 300px;
  padding-right: 20px;
}


#product_details {
  max-width: 100%;

}


.cartpanel {
  float: right;
  position: relative;
}
#cartbutton:hover + .dropdown-content {
    display: block;
}




.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }